%h1 記事一覧

%table
  %thead
    %tr
      %th 投稿日
      %th タイトル
      %th 本文
      %th
      %th
      %th

  %tbody
    - @articles.each do |article|
      %tr
        %td= l article.entry_at
        %td= article.title
        %td= simple_format article.content.truncate(20, omission: '…')
        %td= link_to 'Show', article
        %td= link_to 'Edit', edit_admin_article_path(article)
        %td= link_to 'Destroy', admin_article_path(article), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Article', new_admin_article_path
