.col-md-9
  - @articles.each do |article|
    .article
      .entry_at
        = fa_icon('calender-o')
        = l article.entry_at
      = article.title
      = simple_format article.content.truncate(100, omission: '…')
      = link_to '続きを読む', article

.col-md-3
  = render 'sidebar'
