!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Blog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            .navbar-brand
              = link_to 'しんくれあ記', root_path

    .main.container-fluid
      - if notice
        %p.notice= notice
      - if alert
        %p.alert= alert
      .col-md-9
        = yield
      .col-md-3
        = render 'sidebar'

    %footer
      %p
        %small
          Copyright (C) 2018 sincrare All Rights Reserved.
